<ion-header>
  <ion-toolbar>
    <ion-title>Detalle del Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="producto-detalle">
    <ion-img [src]="producto.imagen" alt="{{ producto.nombre }}"></ion-img>
    <h2>{{ producto.nombre }}</h2>
    <p>{{ producto.descripcion }}</p>
    <strong>{{ producto.precio | currency }}</strong>
  </div>
</ion-content>
